{% extends "base.html" %}
<section id="bricks">

    <div class="row masonry">

        <!-- brick-wrapper -->
        <div class="bricks-wrapper">

            <div class="grid-sizer"></div>

            <article class="brick entry format-standard animate-this">


               <div class="entry-text">                
                	<div class="entry-excerpt">
                    	{% block main %}{{% endblock %}
                	</div>
               </div>

            </article> <!-- end article -->
         </div> <!-- end brick-wrapper --> 

    </div> <!-- end row -->
</section> <!-- end bricks -->